# Generated UI files
scripts/ui/ui_*.py

# Build files
build/
.pybuild/
*.pyc
pyexiftoolgui.egg-info/

# Development
scripts/.pyexiftoolgui/
*.wp?
*.sw*
.DS_Store
.venv

# Debian files
debian/.debhelper/
debian/files
debian/pyexiftoolgui*
